.active {
	border: 2px solid blue;
}

div {
	width: 500px; 
	margin: auto;
	padding-left: 20px;
	margin-bottom: 30px;
}

input {
	margin: 5px;
}

#color {
	width: 90px;
}
#list {
	padding-left: 30px;
	padding-right: 30px;
	width: 440px;
}
